[submodule "3rd_party/vgmstream"]
	path = 3rd_party/vgmstream
	url = git@github.com:PredatorCZ/vgmstream.git
[submodule "3rd_party/RevilLib"]
	path = 3rd_party/RevilLib
	url = git@github.com:PredatorCZ/RevilLib.git
[submodule "3rd_party/zlib"]
	path = 3rd_party/zlib
	url = git@github.com:madler/zlib.git
