[submodule "3rd_party/PreCore"]
	path = 3rd_party/PreCore
	url = https://github.com/PredatorCZ/PreCore.git
[submodule "3rd_party/pugixml"]
	path = 3rd_party/pugixml
	url = https://github.com/zeux/pugixml.git
