${lmt_animations_}
<Animation ID="${ani_id_}" version="${ani_version_}">
    <numFrames>${ani_numframes_}</numFrames>
    <loopFrame>${ani_loopframe_}</loopFrame>
    <endFrameAdditiveScenePosition>[1, 2, 3, 4]</endFrameAdditiveScenePosition>
    <endFrameAdditiveSceneRotation>[5, 6, 7, 8]</endFrameAdditiveSceneRotation>
    <eventGroups numItems="${ani_num_evgroups_}">
    ${ani_evgroups_}
    </eventGroups>
    <floatTracks numItems="${ani_num_fltgroups_}">
    ${ani_fltgroups_}
    </floatTracks>
    <tracks numItems="${ani_num_tracks_}">
    ${ani_tracks_}
    </tracks>
</Animation>
