${ani_tracks_}
<track>
    <compression>${track_compression_}</compression>
    <trackType>${track_type_}</trackType>
    <boneType>${track_bone_type_}</boneType>
    <boneID>${track_bone_id_}</boneID>
    <weight>${track_weight_}</weight>
    <referenceData>[9, 10, 11, 12]</referenceData>
    <min>[3, 2, 1, 0]</min>
    <max>[0, 1, 2, 3]</max>
    <data numItems="1">
        00010203040506070809101112131415161718190a0b0c0d0e0f
    </data>
</track>
