${ani_tracks_}
<track>
    <compression>${track_compression_}</compression>
    <trackType>${track_type_}</trackType>
    <boneType>${track_bone_type_}</boneType>
    <boneID>${track_bone_id_}</boneID>
    <weight>${track_weight_}</weight>
    <referenceData>[9, 10, 11, 12]</referenceData>
    <data numItems="2">
        { [1, 2, 3], 4 }
        { [5, 6, 7], 8 }
    </data>
</track>
